@import url("../vendor/andreasphil/design-system@v0.39.0/dist/index.min.css")
layer(theme);

:root {
  --theme-tint: 280;
  --theme-primary: 70% 0.2 280;
}

/* -------------------------------------------------- *
 * Home page                                          *
 * -------------------------------------------------- */

.home {
  text-align: center;
  margin-bottom: var(--body-padding-y);

  img {
    display: block;
    margin: auto;
  }
}

.logo {
  border-radius: 30%;
  box-shadow: var(--shadow-elevation-high);
}

.username-form {
  display: flex;
  gap: 0.75rem;
  margin: 1.5rem auto;
  max-width: 26rem;
}

.username-submit {
  flex: 0 0 auto;
}

.callout {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevation-low);
  display: flex;
  gap: 0.75rem;
  margin: 1.5rem auto 0;
  max-width: 26rem;
  padding: 0.625rem 1rem;
  text-align: left;
}

.callout-text {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  margin: 0.15rem 0;
}

/* -------------------------------------------------- *
 * Header                                             *
 * -------------------------------------------------- */

.avatar {
  background: var(--c-surface-variant-bg);
  border-radius: 100%;
  flex: none;
  height: 1.5rem;
  width: 1.5rem;
}

.search-input {
  width: initial;
  min-width: 6rem;
}

.sign-out-btn {
  flex: none;
}

/* -------------------------------------------------- *
 * List of starred repositories                       *
 * -------------------------------------------------- */

.stars {
  display: grid;
  gap: 1.5rem;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

:root:has(.stars) {
  --body-width: 92rem;
}

.star {
  height: 100%;
  margin: 0;

  a {
    background-color: var(--c-surface-bg);
    border-radius: var(--border-radius);
    border: var(--border-width-large) solid transparent;
    box-shadow: var(--shadow-elevation-low);
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    height: 100%;
    padding: 1rem 1.125rem;
    text-decoration: none;
    transition-property: border-color, color, background-color;

    &:hover,
    &:focus-visible {
      border-color: var(--primary);
      outline: none;
    }
  }
}

.star-icon {
  background: var(--c-surface-variant-bg);
  border-radius: 100%;
  height: 3rem;
  margin-bottom: 1.5rem;
  position: relative;
  width: 3rem;
}

.star-title {
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
  margin-top: auto;
}

.star-description {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-medium);
  line-height: 1.25;
}

/* -------------------------------------------------- *
 * Fetch status                                       *
 * -------------------------------------------------- */

.status-layout {
  bottom: var(--body-padding-y);
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
}

.status {
  background: var(--c-surface-bg);
  border-radius: 9999px;
  color: var(--primary);
  padding: 0.75rem 1.125rem;
  pointer-events: auto;
}

.status-label {
  color: var(--c-surface-fg);
  font-weight: var(--font-weight-medium);
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.1s ease;
  transition-property: transform, opacity;
}

.slide-enter-from,
.slide-leave-to {
  transform: scale(0.8);
  opacity: 0;
}
