@import url("https://esm.sh/gh/andreasphil/design-system@v0.29.0/dist/index.min.css")
layer(theme);

:root {
  --theme-primary: 240 90% 70%;
  --theme-tint: 240;
}

/* -------------------------------------------------- *
 * Home page                                          *
 * -------------------------------------------------- */

.home {
  text-align: center;
}

.logo {
  margin: 0 auto;
}

.usernameForm {
  display: flex;
  gap: 0.75rem;
  margin: var(--body-padding-y) auto 1.5rem;
  max-width: 26rem;
}

.usernameSubmit {
  flex: 0 0 auto;
}

.callout {
  background: var(--c-surface-bg);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow-elevation-low);
  display: flex;
  gap: 0.75rem;
  margin: 1.5rem auto 0;
  max-width: 26rem;
  padding: 0.625rem 1rem;
  text-align: left;
}

.calloutText {
  color: var(--c-fg-variant);
  font-size: var(--font-size-small);
  margin: 0.15rem 0;
}

/* -------------------------------------------------- *
 * Header                                             *
 * -------------------------------------------------- */

.avatar {
  background: var(--c-surface-variant-bg);
  border-radius: 100%;
  flex: none;
  height: 3rem;
  padding: 2px;
  width: 3rem;
}

.searchInput {
  width: initial;
  min-width: 6rem;
}

.signOutBtn {
  flex: none;
}

/* -------------------------------------------------- *
 * List of starred repositories                       *
 * -------------------------------------------------- */

.starsList {
  padding: 0;
  margin: 0;
}

.starsListItem {
  list-style-type: none;
}

.star {
  align-items: center;
  border-radius: var(--border-radius-large);
  border: var(--border-width-large) solid transparent;
  display: flex;
  gap: 1rem;
  margin: 0 -0.5rem;
  outline: none;
  padding: 0.5rem;
  text-decoration: none;
  transition: var(--transition);
  transition-property: background-color, color;

  &:hover {
    background: var(--c-surface-variant-bg);
  }

  &:focus {
    border-color: var(--primary);
  }

  &:focus:hover {
    background: var(--primary-50);
  }
}

.starIcon {
  background: var(--c-surface-variant-bg);
  border-radius: 100%;
  flex: none;
  height: 3.5rem;
  overflow: clip;
  padding: 2px;
  width: 3.5rem;
}

.starName {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.starDescription {
  display: block;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--c-fg-variant);
}

/* -------------------------------------------------- *
 * Fetch status                                       *
 * -------------------------------------------------- */

.statusLayout {
  bottom: var(--body-padding-y);
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
}

.status {
  background: var(--c-surface-bg);
  border-radius: 9999px;
  box-shadow: var(--shadow-elevation-high);
  color: var(--primary);
  padding: 0.75rem 1.125rem;
  pointer-events: auto;
}

.statusLabel {
  color: var(--c-surface-fg);
  font-weight: var(--font-weight-medium);
}

.slide-enter-active,
.slide-leave-active {
  transition: 0.1s ease;
  transition-property: transform, opacity;
}

.slide-enter-from,
.slide-leave-to {
  transform: scale(0.8);
  opacity: 0;
}
